<nav class="mobile-bottom-nav mobile-only">
    <ul>
        <li>
            <a href="./dashboard.html" class="<%= currentPage === 'dashboard' ? 'active' : ''%>">
                <img src="/images/dashboard-1.svg" alt="" />
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="./global-trends.html" class="<%= currentPage === 'trends' ? 'active' : '' %>"> 
                <img src="/images/worldwide-1.svg" alt="" />
                <span>Global Trends</span>
            </a>
        </li>

        <li>
            <a href="./profile.html" class="<%= currentPage === 'profile' ? 'active' : '' %>">
                <img src="/images/profile-1.svg" alt="" />
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>